.room-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;
}

.room-form-entry {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 2rem;
}

.room-form-input {
  padding: 0.5rem;
  background-color: var(--color-background);
  border: var(--border-md);
}
