.zoom-buttons {
  display: flex;
  border: var(--border-md);
  border-radius: var(--border-radius-md);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
}

.zoom-buttons button {
  padding: 0.25rem 0.5rem;
}

.zoom-buttons button:first-of-type {
  border-right: 2px solid var(--color-text-black);
}
