.color-toggle {
  position: absolute;
  left: 1rem;
  top: calc(var(--topbar-height) + 8rem);
  padding: 0.5rem 0.75rem;
  border: var(--border-md);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
}
