.legend {
  position: absolute;
  left: 2vw;
  top: calc(var(--topbar-height) + 64px);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  background-color: var(--color-background-gray);
  border: var(--border-sm);
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-sm);
}

.legend-item {
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
}

.legend-color-box {
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-sm);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.legend-label {
  font-family: var(--font-body);
  font-size: var(--font-size-sm);
  color: #333;
}
