.room-details {
  position: fixed;
  inset: var(--topbar-height) 0 0 auto;
  width: 100%;
  max-width: fit-content;
  padding: var(--padding);
  background-color: var(--background-color);
  border-left: var(--border-style);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.room-details-close-button {
  position: absolute;
  right: var(--padding);
  cursor: pointer;
  fill: var(--text-color);
}

.room-details-header {
  width: 100%;
  height: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-details-title {
  color: var(--text-color);
}

.room-details-avatar {
  width: 10em;
  height: 10em;
  border-radius: var(--border-radius-circle);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-details-avatar-name {
  font-size: 3rem;
  font-weight: 600;
  color: var(--background-color);
}

.room-details-info {
  width: 100%;
  padding: var(--gap);
  border: var(--border-style);
  border-radius: var(--radius);
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.5rem;
}
