/* SidePanel */

.side-panel {
  position: fixed;
  inset: var(--topbar-height) 0 0 auto;
  height: calc(100vh - var(--topbar-height));
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: var(--border-md);
  background: var(--color-text-black);
  overflow-y: scroll;
}

.side-panel > section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.side-panel > section > header {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--color-secondary);
}

.side-panel > section > header .react-loading-skeleton {
  --base-color: var(--color-secondary-skeleton-base);
  --highlight-color: var(--color-secondary-skeleton-highlight);
}

.section-chevron {
  transition: transform 200ms ease;
}

.section-chevron.collapsed {
  transform: rotate(-90deg);
}

/* RoomDetails */

.room-info > header {
  grid-template-columns: auto 1fr auto auto auto;
}

.room-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px;
}

.room-detail,
.room-description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--color-background);
}

.room-description {
  grid-column: 1 / 3;
  grid-template-columns: unset;
  grid-template-rows: auto;
  gap: 0.25rem;
}

.room-description-title {
  font-weight: bold;
}

.room-detail p,
.room-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* RoomPeople */

.room-people > header {
  grid-template-columns: auto 1fr auto auto;
}

.contracts {
  display: grid;
  gap: 2px;
}

.contracts-skeleton {
  padding: 1rem;
  background: var(--color-background);
}

.contract {
  display: grid;
  gap: 2px;
}

.contract > header {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  background: var(--color-background);
}

.contract ul {
  display: grid;
  gap: 0.25rem;
  padding: 0.5rem;
  background: var(--color-background);
}
