.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--topbar-height);
  background: var(--color-topbar);
  border-bottom: var(--border-md);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  padding: 0px;
  padding-right: 0px;
  column-gap: var(--gap);
  z-index: var(--z-index-topbar);
}

.topbar-title {
  color: var(--color-text-white);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.02em;
  padding-left: var(--padding-md);
}

.topbar-actions {
  display: flex;
  gap: 0px;
  flex-shrink: 0;
  justify-self: end;
}

.topbar-search {
  width: 100%;
  height: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  border: 0px;
}

.topbar-button {
  width: calc(var(--topbar-height));
  border: var(--border-sm);
  border-bottom: var(--border-md);
  aspect-ratio: 1;
  background: var(--color-primary);
  color: var(--color-text-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background var(--transition-fast),
    transform 0.08s;
}

.topbar-button:hover {
  background: var(--color-secondary);
  color: var(--color-text-black);
}

.topbar-button:active {
  transform: scale(0.98);
  background: var(--color-muted);
  color: var(--color-text-black);
}

.topbar-profile {
  background: var(--color-topbar);
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-text-black);
  letter-spacing: 0.02em;
}
