.zoom-buttons {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  border: var(--border-sm);
  border-radius: var(--border-radius-md);
  background: var(--color-background);
}

.zoom-in-button {
  border: 0;
  border-right: var(--border-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-background);
  cursor: pointer;
}

.zoom-out-button {
  border: 0;
  border-left: var(--border-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-background);
  cursor: pointer;
}

.zoom-reset-button {
  font-size: var(--font-size-md);
  font-family: var(--font-body);
  background-color: var(--color-background);
  border: 0;
  cursor: pointer;
}
