.settings-modal {
  min-width: 300px;
  gap: 0.5rem;
  background: var(--color-background);
  border: var(--border-md);
  padding: var(--gap);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.settings-modal[open] {
  display: grid;
}

.settings-modal > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-modal > header > h2 {
  font-weight: 500;
}

.settings-modal-close-button {
  aspect-ratio: 1;
  height: 100%;
}

.settings-entry {
  display: grid;
  gap: 0.5rem;
}
