.topbar {
  height: 56px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  gap: var(--border-width-md);
  padding: var(--border-width-md);
  background: var(--color-text-black);
  box-shadow: var(--box-shadow);
}

.topbar > h1 {
  margin: 0 1rem;
  color: var(--color-text-white);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.02em;
}

.topbar-buttons {
  align-self: stretch;
  position: relative;
  display: flex;
  gap: var(--border-width-md);
}
