.person-form {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.75rem 2rem;
}

.person-form-entry {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.person-form-entry:has(.person-selector) {
  row-gap: 0.5rem;
}

.person-form-supervisors-list {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  min-width: 0;
}

.person-form-separator {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  gap: 1rem;

  .separator-line {
    width: 100%;
    height: var(--border-width-md);
    background: var(--color-text-black);
  }

  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}

.person-form-input,
.person-selector-input {
  padding: 0.5rem;
  background: var(--color-background);
  border: var(--border-md);
}

.person-form-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.person-form-supervisor {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.15rem 0.4rem;
  border: var(--border-md);
  font-size: 0.875rem;

  .button.icon {
    color: var(--color-text-black);
  }
}

.person-form-entry.disabled .person-form-supervisor {
  opacity: 0.5;
}
