.color-toggle {
  padding: 0.5rem 0.75rem;
  border: var(--border-md);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
