.legend {
  position: absolute;
  left: 1rem;
  top: calc(var(--topbar-height) + 1rem);
  display: grid;
  gap: 0.25rem;
  padding: 0.75rem;
  border: var(--border-md);
  border-radius: var(--border-radius-md);
  background: var(--color-background);
  box-shadow: var(--box-shadow-sm);
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend-item dt {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-text-black);
}
