.person-modal {
  padding: 0;
  border: var(--border-md);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
}

.person-modal-content {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.person-modal-content > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-modal-content > header > h2 {
  font-weight: 500;
}

.person-modal-content > header > .button.icon {
  height: 100%;
  aspect-ratio: 1;
}

.person-modal-actions {
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
