#root {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-image {
  width: 100%;
  height: 100%;
}
