:root {
  --primary-color: #010204;
  --secondary-color: #302929;
  --text-color: #ffffff;
  --background-color: #fff;
  --muted-color: #ccc;
  --radius: 8px;
  --gap: 12px;

  --topbar-height: 64px;
  --button-size: 44px;
  --font-weight-bold: 600;
  --transition-fast: 0.15s;
  --z-index-topbar: 1000;
}

#root {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  padding: 16px;
  padding-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
