:root {
  --primary-color: #6146c5;
  --topbar-color: rgb(72, 72, 72);
  --secondary-color: #cec9e0;
  --text-color: #0d0b15;
  --background-color: #fff;
  --muted-color: #ccc;

  --radius: 8px;
  --gap: 12px;
  --padding: 16px;
  --transition-fast: 0.15s;
  --font-weight-bold: 600;

  --topbar-height: 64px;
  --button-size: 44px;
  --z-index-topbar: 1000;

  --border-style: 3px solid var(--secondary-color);
  --border-radius-circle: calc(infinity * 1px);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
