.confirmation-dialog {
  min-width: 250px;
  background: var(--color-background);
  border: var(--border-md);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);

  &[open] {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
  }
}

.confirmation-dialog > h2 {
  font-weight: 500;
}

.confirmation-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  & > .button:disabled {
    background-color: var(--color-muted);
    cursor: not-allowed;
    pointer-events: none;
  }
}
