.person-search {
  width: 100%;
  max-width: 500px;
  position: relative;
  align-self: stretch;
  display: grid;
}

.person-search-box {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--border-width-md);
  background: var(--color-text-black);
}

.person-search-box > label {
  display: flex;
  gap: 0.5rem;
  padding-left: 0.75rem;
  align-items: center;
  background: var(--color-background);
}

.person-search-icon {
  color: var(--color-muted);
}

.person-search-box > label > input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.person-search-box > label > input::-webkit-search-cancel-button {
  display: none;
}

.person-search-type > button {
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0;
  border: 0;
  background: var(--color-primary, #f0f0f0);
  color: var(--color-text-black);
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color var(--transition-fast);
}

.person-search-type button:hover {
  background: var(--color-primary-light);
}

.person-search-type-menu {
  position: absolute;
  top: calc(100% + 2 * var(--border-width-md));
  right: -2px;
  display: grid;
  gap: var(--border-width-md);
  border: var(--border-md);
  background: var(--color-text-black);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.person-search-type-menu > button {
  text-align: start;
  padding: 0.5rem;
  border: none;
  background: var(--color-background);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.person-search-type-menu > button:hover {
  background: var(--color-secondary-light);
}

.person-search-type-menu > button.active {
  font-weight: 500;
  text-decoration: underline;
}

.person-search-dropdown {
  position: absolute;
  top: calc(100% + 2 * var(--border-width-md));
  left: calc(-1 * var(--border-width-md));
  width: calc(100% + 2 * var(--border-width-md));
  display: grid;
  grid-template-rows: auto 1fr;
  border: var(--border-md);
  background: var(--color-background);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.person-search-dropdown > header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border-bottom: 1.5px solid var(--color-text-black);
}

.person-search-close {
  align-self: stretch;
  aspect-ratio: 1;
}

.person-search-results {
  padding: 0;
  overflow-y: auto;
  max-height: 340px;
}

.person-search-message {
  padding: 1rem;
  text-align: center;
}

.person-search-no-results {
  color: var(--color-muted);
}

.person-search-error {
  color: #dc3545;
  font-weight: var(--font-weight-bold);
}

.person-search-result {
  border-bottom: 1.5px dotted var(--color-muted);
}

.person-search-result:last-child {
  border-bottom: none;
}

.person-search-result > button {
  justify-self: stretch;
  display: grid;
  gap: 0.125rem;
  padding: 0.75rem 1rem;
  border: none;
  color: var(--color-muted);
  background: transparent;
  text-align: left;
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.person-search-result > button:hover {
  background: var(--color-secondary-light);
}

.person-search-result > button > div {
  display: flex;
  gap: 0.5rem;
}

.person-search-result-name {
  color: var(--color-text-black);
  font-weight: var(--font-weight-bold);
}

.person-search-result-name::after,
.person-search-result-title::after {
  content: "·";
  margin-left: 0.5rem;
  color: var(--color-muted);
}
