name: "frontend pipeline"

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: frontend
    steps:
    - uses: actions/checkout@v4
    - name: setup node.js
      uses: actions/setup-node@v4
      with:
        node-version: '25'
        cache: "npm"
        cache-dependency-path: frontend/package-lock.json
    - name: Install dependencies
      run: npm ci
    #- name: Run lint
    #  run: npm run lint

  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: frontend
    steps:
    - uses: actions/checkout@v4
    - name: setup node.js
      uses: actions/setup-node@v4
      with:
        node-version: '25'
        cache: "npm"
        cache-dependency-path: frontend/package-lock.json
    - name: Install dependencies
      run: npm ci
    #- name: Run tests
    #  run: npm run test
